<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>心爱无痕</title>
		<link rel="stylesheet" type="text/css" href="css/gongyong.css" />
		<link rel="stylesheet" type="text/css" href="css/homepage.css"/>
		<link rel="stylesheet" href="css/all.css" type="text/css"/>
		<style>
			
		</style>
	</head>
	<body>
		<!--tittle区域-->
		<div id="tittle">
			<div class="tittle-top">
				<h1>
					<a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/zhenbianshu/">枕边书</a>
				</h1>
				<h2>常怀敬畏之心。</h2>
			</div>
			<div class="tittle-bottom">
				<ul>
					<li>
						<a class="menu" href="homepage.html">博客园</a>
					</li>
					<li>
						<a class="menu" href="http://www.cnblogs.com/zhenbianshu/">首页</a>
					</li>
					<li>
						<a class="menu" rel="nofollow" href="https://i.cnblogs.com/EditPosts.aspx?opt=1">新随笔</a>
					</li>
					<li>
						<a class="menu" rel="nofollow" href="https://msg.cnblogs.com/send/%E6%9E%95%E8%BE%B9%E4%B9%A6">联系</a>
					</li>
					<li>
						<a class="menu" rel="nofollow" href="https://i.cnblogs.com/">管理</a>
					</li>
				</ul>
			</div>
		</div>
		<!--博客内容区-->
		<div id="main">
			<div class="main">
				<div class="main-left">
					<!--<div class="main-first">
						<div class="main-1">
							<a id="homepage1_HomePageDays_ctl00_ImageLink" href="http://www.cnblogs.com/zhenbianshu/">置顶随笔</a>
						</div>
						<div class="main-2">
							<a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/zhenbianshu/p/6485847.html">[置顶]博客目录-枕边书</a>
						</div>
						<div class="main-3">
							<div class="main-3-1">
								摘要: 介绍： 本人后端PHP程序员，在自学C，对后端网络编程和并发编程有浓厚兴趣。 博客全部原创，自要求技术文必有源码实践，必须深刻理解（常见的小知识都放私人笔记，有需要共享的可以联系我）。 博客目录为了方便查看，欢迎交流关注。 // 个人网站：枕边书： http://www.alwayscoding.n
								<a class="c_b_p_desc_readmore" href="http://www.cnblogs.com/zhenbianshu/p/6485847.html">阅读全文</a>
							</div>
						</div>
						<div class="clear">
						</div>
						<div class="main-4">
							posted @ 2017-03-01 19:30 枕边书 阅读(785) 评论(0)
							<a href="https://i.cnblogs.com/EditPosts.aspx?postid=6485847" rel="nofollow">编辑</a>
						</div>
						<div class="clear">
						</div>
					</div>-->
				</div>
				<div class="main-right">
					<div class="main-right-first">
						<h3>公告</h3>
						<div class="main-right-1">
							欢迎来到我的博客园~
							<br>
							本人后端PHP程序员，在自学 C 和 Go，对后端网络编程和并发编程有浓厚兴趣。
							<br>
							博客全部原创，自要求技术文必有源码实践，必须深刻理解，欢迎交流关注。
						</div>
						<div class="main-right-2">
							昵称：
							<a href="http://home.cnblogs.com/u/zhenbianshu/">枕边书</a>
							<br>
							园龄：
							<a href="http://home.cnblogs.com/u/zhenbianshu/" title="入园时间：2015-10-08">2年1个月</a>
							<br>
							荣誉：
							<a href="http://www.cnblogs.com/expert/">推荐博客</a>
							<br>
							粉丝：
							<a href="http://home.cnblogs.com/u/zhenbianshu/followers/">234</a>
							<br>
							关注：
							<a href="http://home.cnblogs.com/u/zhenbianshu/followees/">17</a>
							<div id="p_b_follow">
								<a href="javascript:void(0);" onclick="follow('1e697f43-716d-e511-9fc1-ac853d9f53cc')">+加关注</a>
							</div>
						</div>
					</div>
					<div class="main-right-second main-right-first">
						<h3 class="">随笔分类</h3>
						<ul>
							<li>
								<a id="" href="http://www.cnblogs.com/zhenbianshu/category/965172.html">C/C++(4)</a>
							</li>
							<li>
								<a id="" href="http://www.cnblogs.com/zhenbianshu/category/750538.html">JS(2)</a>
							</li>
							<li>
								<a id="" href="http://www.cnblogs.com/zhenbianshu/category/760728.html">LINUX(6)</a>
							</li>
							<li>
								<a id="" href="http://www.cnblogs.com/zhenbianshu/category/750537.html">PHP(20)</a>
							</li>
							<li>
								<a id="" href="http://www.cnblogs.com/zhenbianshu/category/976016.html">Profession(3)</a>
							</li>
							<li>
								<a id="" href="http://www.cnblogs.com/zhenbianshu/category/750540.html">WEB(3)</a>
							</li>
							<li>
								<a id="" href="http://www.cnblogs.com/zhenbianshu/category/946907.html">后端(12)</a>
							</li>
							<li>
								<a id="" href="http://www.cnblogs.com/zhenbianshu/category/750542.html">算法(4)</a>
							</li>
						</ul>
					</div>
					<div class="main-right-first main-right-three">
						<h3>积分与排名</h3>
						<ul>
							<li> 积分 - 83932 </li>
							<li> 排名 - 3609 </li>
						</ul>
					</div>
					<div class="main-right-first main-right-four">
						
						<h3>最新评论</h3>
						<div>
							<ul>
								<li>
									<a href="http://www.cnblogs.com/zhenbianshu/p/5867440.html#3833463">1. Re:shell实现SSH自动登陆</a>
								</li>
								<li class="recent_comment_body">@枕边书其他命令可以的，目录也就是普通目录，有权限的。先不管了，先到根目录算了...</li>
								<li class="recent_comment_author">--renwfy</li>
								<li class="recent_comment_title">
									<a href="http://www.cnblogs.com/zhenbianshu/p/5867440.html#3833458">2. Re:shell实现SSH自动登陆</a>
								</li>
								<li class="recent_comment_body">@renwfy其他的命令都起作用就这条没起作用吗？那此目录存在吗，用户有访问权限吗？或者你再试一下普通命令如 touch什么的。...</li>
								<li class="recent_comment_author">--枕边书</li>
								<li class="recent_comment_title">
									<a href="http://www.cnblogs.com/zhenbianshu/p/5867440.html#3833351">3. Re:shell实现SSH自动登陆</a>
								</li>
								<li class="recent_comment_body">切换到常用目录好像没起作用，没过去……</li>
								<li class="recent_comment_author">--renwfy</li>
							</ul>
						</div>
					</div>
					<div class="main-right-five">
						<h3 class="catListTitle">阅读排行榜</h3>
						<ul>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/6111257.html">1. 网页实时聊天之PHP实现websocket(22029)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/5659328.html">2. PHP的openssl加密扩展使用小结(17660)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/4964095.html">3. 网页实时聊天之js和jQuery实现ajax长轮询(11221)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/7197349.html">4. 小时到分钟 - 一步步优化巨量关键词的匹配(10018)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/5867440.html">5. shell实现SSH自动登陆(7391)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/7152327.html">6. Linux - 请允许我静静地后台运行(5622)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/5676822.html">7. 初探PHP多进程(5557)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/6063340.html">8. PHP中的回调函数和匿名函数(5411)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/5331165.html">9. 搭建自己的PHP框架心得（一）(5131)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/4929767.html">10. PHP模拟发送POST请求之一、HTTP协议头部解析(3190)</a>
							</li>
						</ul>
					</div>
					<div class="main-right-five">
						<h3 class="catListTitle">推荐排行榜</h3>
						<ul>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/6111257.html">1. 网页实时聊天之PHP实现websocket(22029)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/5659328.html">2. PHP的openssl加密扩展使用小结(17660)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/4964095.html">3. 网页实时聊天之js和jQuery实现ajax长轮询(11221)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/7197349.html">4. 小时到分钟 - 一步步优化巨量关键词的匹配(10018)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/5867440.html">5. shell实现SSH自动登陆(7391)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/7152327.html">6. Linux - 请允许我静静地后台运行(5622)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/5676822.html">7. 初探PHP多进程(5557)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/6063340.html">8. PHP中的回调函数和匿名函数(5411)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/5331165.html">9. 搭建自己的PHP框架心得（一）(5131)</a>
							</li>
							<li>
								<a href="http://www.cnblogs.com/zhenbianshu/p/4929767.html">10. PHP模拟发送POST请求之一、HTTP协议头部解析(3190)</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
		<div>
			文本编辑器
		</div>
	</body>
</html>
<script src="js/jquery-1.11.3.js" type="text/javascript"></script>
<script>
      function getLocalTime(nS) { 
			return new Date(parseInt(nS) * 1000).toLocaleString().substr(0,17)
			}
         $.ajax({
           type:"get",
           url:"http://localhost:9999/articles/articleList",
           success:function(response,status,xhr){
             var obj = JSON.parse(response);
             console.log(obj[0]);
             var html = '';
             obj.forEach(function(str,index){
             	console.log(index+":"+str)
             	html +=`
             		<div class="main-first">
						<div class="main-1">
							<a id="homepage1_HomePageDays_ctl00_ImageLink" href="http://www.cnblogs.com/zhenbianshu/">${str.time}</a>
						</div>
						<div class="main-2">
							<a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/zhenbianshu/p/6485847.html">${str.title}</a>
						</div>
						<div class="main-3">
							<div class="main-3-1">
								${str.introduction}
								<a class="c_b_p_desc_readmore" href="http://www.cnblogs.com/zhenbianshu/p/6485847.html">阅读全文</a>
							</div>
						</div>
						<div class="clear">
						</div>
						<div class="main-4">
							posted @ ${str.time} 枕边书 阅读(785) 评论(0)
							<a href="https://i.cnblogs.com/EditPosts.aspx?postid=6485847" rel="nofollow">编辑</a>
						</div>
						<div class="clear">
						</div>
					</div>
             	`
             });
             $('.main-left').append(html);
           }
         })
  </script>
