<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel="shortcut icon" href="http://caibaojian.com/favicon.ico" />
  </head>
  <body>
    <div class="container">
    	<div class="header-box">
    		<div class="header">
					<a class="header-left " href="#"></a>
					<div class="header-center"></div>
					<a href="/users/adminLogout" class="logout">退出</a>
				</div>
    	</div>
    	
      <!--<header class="topHeader">我的博客 <a href="/users/adminLogout">退出</a></header>-->
      <div class="content">
        <aside>
          <ul class="menu">
            <li class="active"><a href="/">系统首页</a></li>
            <li><a href="/banner">轮播图管理</a></li>
            <li><a href="/articles">文章管理</a></li>
          </ul>
        </aside>
        <section>
          系统首页,
          可以进行数据统计
        </section>
      </div>
      <footer>博客底部</footer>
    </div>
  </body>
  <script src="/javascripts/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
</html>
