<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="" />
		<meta name="description" content="不超过150个字符" />
		<meta name="robots" content="index,follow" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" href="css/detail.css" />
		<link rel="shortcut icon" href="http://caibaojian.com/favicon.ico" />
		<title></title>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<a class="header-left col-xs-12 col-sm-6" href="index.html"></a>
				<div class="header-center col-xs-12 col-sm-6">
				</div>
			</div>
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#"><img src="images/logo2.png" width="100px" /></a>
			    </div>
			
			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav nav-left ">
			        <li class="active links"><a href="index.html">首页 <span class="sr-only">(current)</span></a></li>
			        <li class="links"><a href="techShare.html">技术分享</a></li>
			        <li class="links"><a href="personDiary.html">个人日记</a></li>
			        <li class="links"><a href="techShare.html">学无止境</a></li>
			        <li class="links"><a href="aboutMe.html">关于我</a></li>
			        <li class="links"><a href="#">留言</a></li>
			      </ul>
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="regist.html">注册</a></li>
			        <li><a href="login.html">登录</a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
			<div class="articles">
				<div class="articles-left">
					<!--<div class="article-top">
						<h2>您当前的位置：<a href="index.html">首页</a> > <a href="techShare.html">技术分享</a></h2>
					</div>-->
					<div class="article-center"></div>
					<div class="article-bottom"></div>
				</div>
				<div class="articles-right">
					<div class="article-link new-article">
						<h2>最新文章</h2>
						<ul>
							<!--<li><a href="#" title="transform-origin属性详解和百分比关系">transform-origin属性详解和百分比关系</a></li>
							<li><a href="#" title="animationend事件监听CSS动画结束及兼容代码 ">animationend事件监听CSS动画结束及兼容代码 </a></li>
							<li><a href="#" title="sublimeText3编辑器使用大全">sublimeText3编辑器使用大全</a></li>
							<li><a href="#" title="JavaScript函数式编程 ">JavaScript函数式编程 </a></li>
							<li><a href="#" title="sublime text2/3安装autoprefixer插件及配置">sublime text2/3安装autoprefixer插件及配置</a></li>
							<li><a href="#" title="display:flex完全居中子元素 ">display:flex完全居中子元素 </a></li>
							<li><a href="#" title="HTTP/2 之服务器推送 (Server Push) 最佳实践">HTTP/2 之服务器推送 (Server Push) 最佳实践</a></li>
							<li><a href="#" title="基于 HTML5 Canvas 实现地铁站监控">基于 HTML5 Canvas 实现地铁站监控</a></li>-->
						</ul>
					</div>
					<div class=" article-link good-article">
						<h2>推荐文章</h2>
						<ul>
							<!--<li><a href="#" title="移动端1px的边框">移动端1px的边框</a></li>
							<li><a href="#" title="使用Selectivizr让IE6~8支持CSS3">使用Selectivizr让IE6~8支持CSS3</a></li>
							<li><a href="#" title="弹窗Modal实现和有滚动条偏移解决方法">弹窗Modal实现和有滚动条偏移解决方法</a></li>
							<li><a href="#" title="《GitHub 将警告开发者流行软件库的漏洞》">《GitHub 将警告开发者流行软件库的漏洞》</a></li>
							<li><a href="#" title="微信小程序图片自适应，支持多图">微信小程序图片自适应，支持多图</a></li>
							<li><a href="#" title="js随机数组，js随机洗牌算法">js随机数组，js随机洗牌算法</a></li>
							<li><a href="#" title="分布式版本控制软件TortoiseHg">分布式版本控制软件TortoiseHg</a></li>
							<li><a href="#" title="JavaScript函数式编程 ">JavaScript函数式编程 </a></li>-->
						</ul>
					</div>
					<div class=" article-link hot-article">
						<h2>热门文章</h2>
						<ul>
							<!--<li><a href="#" title="animationend事件监听CSS动画结束及兼容代码">animationend事件监听CSS动画结束及兼容代码</a></li>
							<li><a href="#" title="js找到数组中某个元素并移到前面 ">js找到数组中某个元素并移到前面 </a></li>
							<li><a href="#" title="CSS3动画结束状态animation-fill-mode ">CSS3动画结束状态animation-fill-mode </a></li>
							<li><a href="#" title="transform-origin属性详解和百分比关系">transform-origin属性详解和百分比关系</a></li>
							<li><a href="#" title="display:flex完全居中子元素">display:flex完全居中子元素</a></li>
							<li><a href="#" title="分布式版本控制软件TortoiseHg">分布式版本控制软件TortoiseHg</a></li>
							<li><a href="#" title="JavaScript函数式编程 ">JavaScript函数式编程 </a></li>
							<li><a href="#" title="rem自适应布局的回顾总结">rem自适应布局的回顾总结</a></li>-->
						</ul>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="fat">
				<section class="partner">
					<ul>
						<h2>关于杨玉璐</h2>
						<li><a href="#">璐的告白</a></li>
						<li><a href="#">个人档案</a></li>
						<li><a href="#">给我留言</a></li>
						<h2>网点赞助</h2>
						<li><a href="#" target="_blank">热点标签</a></li>
						<li><a href="#" target="_blank">sitemap</a></li>
					</ul>
				</section>
				<section class="links">
					<h2>友情链接</h2>
					<ul>
						<li><a href="#" target="_blank">前端博客</a></li>
						<li><a href="#" target="_blank">爱虎网</a></li>
						<li><a href="#" target="_blank">v5订阅网</a></li>
						<li><a href="#" target="_blank">小松博客</a></li>
						<li><a href="#" target="_blank">php程序员的笔记</a></li>
						<li><a href="#" target="_blank">sitemap</a></li>
						<li><a href="#" target="_blank">代理IP</a></li>
						<li><a href="#" target="_blank">html5网站模板</a></li>
						<li><a href="#" target="_blank">黑客技术博客</a></li>
						<li><a href="#" target="_blank">网站模板</a></li>
						<li><a href="#" target="_blank">cms使用教程</a></li>
						<li><a href="#" target="_blank">ASO优化</a></li>
						<li><a href="#" target="_blank">站长论坛</a></li>
						<li><a href="#" target="_blank">刘德华视频</a></li>
						<li><a href="#" target="_blank">个人博客</a></li>
						<li><a href="#" target="_blank">IT程序员</a></li>
						<li><a href="#" target="_blank">IT业界</a></li>
					</ul>
				</section>
				<section class="contact">
					<h2>一直在激励自己......</h2>
					<p>时间顺流而下，生活逆水行舟。</p>
					<p>只要还有明天，今天就永远是起跑线。</p>
					<p>想而奋进的过程，其意义远大于未知的结果。</p>
					<p>永远都不要放弃自己，勇往直前，直至成功！</p>
				</section>
			</div>
			<div id="copright">
				<span>本站采用创作共用版权 CC BY-NC-ND/2.5/CN  许可协议</span>
				<span>滇ICP备14002061号-1</span>
			</div>
		</footer>
		<div id="aside">
			<a id="goTop" href="#" title="顶部"><span class="arrow-up arrow"></span></a>
			<a id="goBottom" href="#" title="底部"><span class="arrow-down arrow"></span></a>
		</div>
	</body>
	<script src="js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/myCookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/index.js"></script>
	<script src="js/detail.js" type="text/javascript" charset="utf-8"></script>
</html>