@import "common.scss";
@import "public.scss";
.articles{
    width:1140px;
    margin:0 auto;
    overflow: hidden;
    background: #F1F0EE;
    padding:15px;
    color: #272a30;
    font-size: 12px;
    .articles-left{
        width:750px;
        margin:0 auto;
        float:left;
        .article-top{
            h2{
                line-height: 40px;
                font-size: 12px;
                font-weight: normal;
                a{
                    color: #272A30;
                    text-decoration: none;
                }
            }
        }
        .article-center{
            padding-left:20px;
        }
    }
    .articles-right{
        width: 300px;
        float: right;
        .article-link{
            border: #D8D8D6 1px solid;
            border-top: #AC0B0B 3px solid;
            clear: both;
            margin: 5px 0 10px 0;
            h2{
                font-size: 14px;
                color: #000;
                line-height: 30px;
                padding: 0 0 0 10px;
            }
            ul{
                margin: 10px;
                background: url(../images/ph.png) no-repeat 0 2px;
                list-style: none;
                li{
                    padding-left: 28px;
                    a{
                        display: block;
                        color: #525252;
                        cursor: pointer;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        line-height: 24px;
                        height: 24px;
                        overflow: hidden;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                             color: #F00;
                        }
                    }
                }
            }
        }
    }
}
